<link rel="stylesheet" type="text/css" href="/static/content/gm1.css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" href="/static/content/site.css" />
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title>Bonus PiQum</title>
  </head>

  <body>
    <header style="position: relative">
      <div class="w3-top" class="header" id="home">
        <div
          class="w3-bar w3-card w3-left-align w3-large heeder-large-screen"
          style="background-color: #000015"
        >
          <a
            class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-black w3-large"
            href="javascript:void(0);"
            onclick="myFunction()"
            title="Toggle Navigation Menu"
            ><i class="fa fa-bars"></i
          ></a>

          <div>
            <a
              href="{{ url_for('home') }}"
              class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-black"
              >Home</a
            >
            <a
              href="#games"
              class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-black"
            >
              Games</a
            >
            <a
              href="#contact"
              class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-black"
              >Contact</a
            >
          </div>
        </div>

        <!-- Navbar on small screens -->
        <div
          id="navDemo"
          class="w3-bar-block w3-hide w3-hide-large w3-hide-medium w3-large"
        >
          <a
            href="#games"
            class="w3-bar-item w3-button w3-padding-large"
            onclick="myFunction()"
            >Games</a
          >
          <a
            href="#contact"
            class="w3-bar-item w3-button w3-padding-large"
            onclick="myFunction()"
            >Contact</a
          >
        </div>
      </div>
    </header>
    <section>
      <div class="hero-banner">
        <h1>Bonus PiQum<span class="registered-trademark">&#174;</span></h1>
        <p>presented by</p>
        <img src="/static/img/kingsize dark.png" alt="" />
      </div>
    </section>
    <div id="canvas-wrapper">
      <div id="canvas" class="row">
        <div class="column side-bar">
          <img class="title-logo" src="/static/img/piQum_bonus.png" alt="" />
          <fieldset class="grand">
            <legend class="grand">
              <p>G r a n d</p>
            </legend>
            <p>$3000</p>
          </fieldset>
          <fieldset class="other">
            <legend class="other">
              <p>M e g a</p>
            </legend>
            <p>$300</p>
          </fieldset>
          <fieldset class="other">
            <legend class="other">
              <p>M a j o r</p>
            </legend>
            <p>$90</p>
          </fieldset>
          <fieldset class="other">
            <legend class="other">
              <p>M i n o r</p>
            </legend>
            <p>$30</p>
          </fieldset>
          <fieldset class="other">
            <legend class="other">
              <p>M i n i</p>
            </legend>
            <p>$15</p>
          </fieldset>
        </div>
        <div class="column grow">
          <div class="card-meter-container">
            <img
              class="card-meter"
              src="/static/img/Meter_Royals_Jack.png"
              alt=""
            />
            <img
              class="card-meter"
              src="/static/img/Meter_Royals_Queen.png"
              alt=""
            />
            <img
              class="card-meter"
              src="/static/img/Meter_Royals_King.png"
              alt=""
            />
            <img
              class="card-meter"
              src="/static/img/Meter_Royals_Ace.png"
              alt=""
            />
          </div>

          <div class="card-meter-container">
            <div class="column-meter">
              <fieldset class="meter-value">
                <legend class="other">
                  <p>C r e d i t s</p>
                </legend>
                <p id="current-score">$100.00</p>
              </fieldset>
            </div>
            <div class="column-meter">
              <fieldset class="meter-value">
                <legend class="other">
                  <p>W i n</p>
                </legend>
                <p id="current-win">--</p>
              </fieldset>
            </div>

            <div class="column-meter">
              <fieldset class="meter-value">
                <legend class="other">
                  <p>W a g e r</p>
                </legend>
                <p id="current-wager">$1.00</p>
              </fieldset>
            </div>
          </div>
          <div id="board"></div>
          <div id="messaging">Pick any Card to play!</div>
          <div class="card-meter-container">
            <div id="deal-container" style="display: none">
              <button id="deal">Deal</button>
            </div>
            <div id="confirm-choice-container" style="display: none">
              <button id="confirm-choice">Reveal</button>
            </div>
          </div>
        </div>
        <!-- <div class="column side-bar"><button id="fullscreen-btn">Toggle Full Screen</button></div> -->
      </div>
    </div>
    <div id="bonus-popup" class="bonus-popup hidden">
      <div class="bonus-popup-content">
        <h2>Bonus Level <span id="bonus-level"></span></h2>
        <p id="bonus-reward">You could possibly win:</p>
        <button id="close-popup">Shuffle</button>
      </div>
    </div>
    <div
      id="backgroundMusicSource"
      data-url="{{ url_for('static', filename='sounds/backround.mp3') }}"
      style="display: none"
    ></div>

    <div class="container body-content">
      <hr />
      <footer>
        <div class="footer-content">
          <!-- <img
            class=" "
            src="img/kingsize dark.png"
            alt=""
          /> -->
        </div>
        <div class="footer-bottom">
          <p>Copyright &copy;2023 KingSize Games Inc.</p>
          <p class="patent">
            COPYRIGHT AND PATENTS. The proprietary products shown on this
            website are covered by various patents, patent applications,
            trademarks, trademark applications, design, copyright, and licensing
            agreements in order to protect Kingsize Games' intellectual
            property. Ownership of copyright and other Intellectual Property
            will at all times remain exclusively with Kingsize Games.
          </p>
        </div>
      </footer>
    </div>
    <script src="{{ url_for('static', filename='music.js') }}"></script>
    <script type="text/javascript" src="/static/scripts/gm2.js"></script>
  </body>
</html>
