{% extends "layout.html" %} {% block content %}

<body>
  <header style="position: relative">
    <div class="w3-top" class="header" id="home">
      <div
        class="w3-bar w3-card w3-left-align w3-large heeder-large-screen"
        style="background-color: #000015"
      >
        <a
          class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-black w3-large"
          href="javascript:void(0);"
          onclick="myFunction()"
          title="Toggle Navigation Menu"
        >
          <i class="fa fa-bars"></i>
        </a>

        <div>
          <a
            href="{{ url_for('home') }}"
            class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-black"
            >Home</a
          >
          <a
            href="#games"
            class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-black"
          >
            Games
          </a>
          <a
            href="#contact"
            class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-black"
            >Contact</a
          >
          <a
            href="{{ url_for('logout') }}"
            class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-black"
            >Logout</a
          >
        </div>
      </div>

      <!-- Navbar on small screens -->
      <div
        id="navDemo"
        class="w3-bar-block w3-hide w3-hide-large w3-hide-medium w3-large"
      >
        <a
          href="#about"
          class="w3-bar-item w3-button w3-padding-large"
          onclick="myFunction()"
          >About</a
        >
        <a
          href="#games"
          class="w3-bar-item w3-button w3-padding-large"
          onclick="myFunction()"
          >Games</a
        >
        <a
          href="#contact"
          class="w3-bar-item w3-button w3-padding-large"
          onclick="myFunction()"
          >Contact</a
        >
        <a>
          href="#contact" class="w3-bar-item w3-button w3-padding-large"
          onclick="myFunction()" >Logout</a
        >
      </div>
    </div>
  </header>

  <main style="padding-bottom: 40px">
    <div class="about">
      Are you ready to experience the ultimate gaming adventure? Look no further
      than Piqum – a series of four thrilling games that will keep you
      entertained for hours on end. Whether you prefer the classic version or
      the bonus edition, Piqum will challenge you and provide endless fun.
      Feeling lucky? Try your hand at Piqum Poker and see if you can put
      together a winning hand! And for those seeking the ultimate gaming rush,
      gaming experience like no other with Piqum Royale! In this fast-paced
      game, you'll be on a mission to climb the ladder and win amazing jackpots.
      With engaging gameplay and addictive challenges, Piqum is the ultimate
      addition to any casino collection.
    </div>
    <h2 class="title" id="games">Demo's limited on Mobile.</h2>
    <div class="games">
      <a href="{{ url_for('game1') }}">
        <div class="game-list">
          <img
            src="static/img/KSG_Logo.png"
            alt=""
            style="width: 100px; height: 100px"
          />
          <h3>piQum<span class="registered-trademark">&#174;</span></h3>
          <p class="patent">Patent Pending</p>
          <p></p>
        </div>
      </a>
      <a href="{{ url_for('game2') }}">
        <div class="game-list">
          <img
            src="static/img/KSG_Logo.png"
            alt=""
            style="width: 100px; height: 100px"
          />
          <h3>Bonus piQum<span class="registered-trademark">&#174;</span></h3>
          <p class="patent">Patent Pending</p>
          <p></p>
        </div>
      </a>
      <a href="{{ url_for('game3') }}">
        <div class="game-list">
          <img
            src="static/img/KSG_Logo.png"
            alt=""
            style="width: 100px; height: 100px"
          />
          <h3>PiQum<span class="registered-trademark">&#174;</span> Poker</h3>
          <p class="patent">Patent Pending</p>
          <p></p>
        </div>
      </a>
      <a href="{{ url_for('gems') }}">
        <div class="game-list">
          <img
            src="static/img/KSG_Logo.png"
            alt=""
            style="width: 100px; height: 100px"
          />
          <h3>piQum<span class="registered-trademark">&#174;</span> Gems Bonus Only</h3>
          <p class="patent">Patent Pending</p>
          <p></p>
        </div>
      </a>
      <!-- <a href="game2.html">
              <div class="game-list">
                <img
                  src="img/KSG_Logo.png"
                  alt="n"
                  style="width: 100px; height: 100px"
                />
                <h3>Triple piQum</h3>
                <p></p>
              </div>
            </a>

            <a href="game7.html">
              <div class="game-list">
                <img
                  src="img/KSG_Logo.png"
                  alt=""
                  style="width: 100px; height: 100px"
                />
                <h3>piQum Gems</h3>
                <p></p>
              </div>
            </a> -->
      <!-- <a href="game5.html">
              <div class="game-list">
                <img
                  src="img/KSG_Logo.png"
                  alt=""
                  style="width: 100px; height: 100px"
                />
                <h3>PiQum Royal 3 row</h3>
                <p></p>
              </div>
            </a> -->
    </div>
    <div>
      <h2 class="title">Reach out to us</h2>
      <div class="contact" id="contact" style="padding-bottom: 10px !important">
        <div class="contact-list contact-address">
          <h5>
            <span>
              <i
                class="fa fa-map-marker w3-xlarge w3-text-light-grey"
              ></i> </span
            >Address
          </h5>
          <p>KingSize Games, Inc.</p>
          <p>2035 Regent St.</p>
          <p>Reno, NV 89523</p>
        </div>
        <div class="contact-list">
          <h5>
            <span><i class="fa fa-phone w3-xlarge w3-text-light-grey"></i></span
            >Phone/Email
          </h5>
          <p>+1-775-513-7516</p>
          <p>bizdev@kingsizegames.com</p>
        </div>
      </div>
    </div>
  </main>
</body>

{% endblock %}
